<h1 class="text-center mt-5 mb-4">Welcome to Your Banking Dashboard !</h1>

<div class="container mb-5">
  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Your Account Balance</h5>
          <p class="card-text lead">Balance: {{ accountBalance$ | async | currency }}</p>
          <p class="card-text">Card Number: {{ cardNumber$ | async }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Transactions</h5>
          <p class="card-text">View your transactions here</p>
          <button class="btn btn-success btn-lg btn-block" (click)="viewTransactions()">View Transactions</button>
        </div>
      </div>
    </div>
  </div>
</div>
