.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border-radius: 10px;
}
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card-body {
  min-height: 150px; /* Adjust card body height as needed */
}
.transaction-item {
  padding: 10px 0;
  border-bottom: 1px solid #dee2e6; /* Add bottom border to separate transactions */
}
.transaction-item:last-child {
  border-bottom: none; /* Remove bottom border for the last transaction */
}
.btn-view-transactions {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.btn-view-transactions:hover {
  background-color: #218838;
}
