<div class="container" style="padding-bottom: 60px;">
  <h1 class="mt-5 mb-4">Transactions</h1>
  <div *ngIf="transactions && transactions.length > 0">
    <div class="list-group">
      <div *ngFor="let transaction of transactions" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ transaction.transaction_type }}</h5>
          <small>{{ transaction.created_at | date: 'medium' }}</small>
        </div>
        <p class="mb-1">Amount: {{ transaction.amount | currency }}</p>
        <small>Payment Method: {{ transaction.payment_method }}</small>
      </div>
    </div>
  </div>
  <div *ngIf="!transactions || transactions.length === 0">
    <p>No transactions available.</p>
  </div>
</div>
